<div id="toc"></div>

<div id="sidenav">
	<div id="menuCtls" class="button-group tiny">
	  <span id="expand" class="button secondary fa fa-plus"></span>
	  <span id="contract" class="button secondary fa fa-minus"></span>
	</div>
	<h4><span class="fa fa-sitemap"></span> Site Contents:</h4>
</div>

<div class="callout">
    <h4 class=""><span class="fa fa-leaf"></span>Useful Links</h4>
    <ul class="nav card-text">
      <li><a href="http://qcnr.usu.edu/wats//">USU Department of Watershed Sciences</a></li>
	  <li><a href="https://qcnr.usu.edu/undergraduates/prospective/degrees/aquatic_ecosystems">Management & Restoration of Aquatic Ecosystems</a></li>
	  <li><a href="http://qcnr.usu.edu/directory/wilcock_peter">Peter Wilcock</a></li>
	  <li><a href="http://joewheaton.org">Joe Wheaton</a> (<a href="https://qcnr.usu.edu/directory/wheaton_joseph">staff page</a>)</li>
	  <li><a href="http://etal.joewheaton.org">Wheaton Ecogeomorphology & Topographic Analysis Lab (ET-AL) @ the Fluvial Habitats Center</a></li>    
	</ul>
</div>